<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Maroon Canvas</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/maroon-canvas.css">
	</head>
	<body>
		<div class="bg-overlay texture"></div>
		<div class="bg-overlay color"></div>
		<div class="header"></div>
		<div class="scrollable-wrapper">
			<div class="container content-wrapper"></div>
		</div>
	</body>
</html>